/* Apply Styles to header */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:black;
}
/* Apply Styles to header nav ul */
header nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}
body {
    background-color:rgba(248, 230, 230, 0.747);
}
.flex-row {
    display: flex;
    align-items: center;
}
.hero {
    background-image: url("../images/bg-main.jpg");
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: row-reverse;
    align-items: flex-end;

}
h2 {
    color: white;
}